body{
    background: rgb(177, 125, 225);
}
.text{
    margin-top: 20px;
    width: 100vw;
    display:flex;
    justify-content: center; 
}
.form{
    width: 100vw;
    display:flex;
    justify-content: center;
}
button{
    border-radius: 3px;
    background: yellow;
}
button:hover{
    background: orange;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}